/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

#dark {
    background: rgb(0,0,0);
    background: -o-radial-gradient(circle, rgba(0,0,0,0.6306897759103641) 0%, rgba(0,0,0,0.9192051820728291) 100%);
    background: radial-gradient(circle, rgba(0,0,0,0.6306897759103641) 0%, rgba(0,0,0,0.9192051820728291) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    opacity: 1;
}

#hero {
    height: 300px;
    background: url("/images/contact-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero h1 {
    font-size: 2.5em;
    color: #fff;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

#hero h1 span {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--primary);
}

#hero a {
    position: relative;
    z-index: 10;
    text-decoration: none;
    font-size: .9em;
    color: #fff;
}

.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.links a {
    margin: 0;
}

.links span {
    position: relative;
    z-index: 10;
    color: var(--primary);
    margin: 0 12px;
    font-weight: bold;
    font-size: 1.7em;
}

#hero a:last-child {
    font-weight: 500;
}

.clippy {
    background: #f5f5f5;
}

.lines {
    margin-bottom: 0px;
}

.icon-graphic {
    margin: 0 auto;
}

#contact-container h3 {
    max-width: 300px;
    margin: auto;
}

#contact-container h2 {
    margin: 0 auto 25px auto;
}


/* Small Screens */
@media screen and (min-width: 300px) and (max-width: 400px) {

    #hero h1 {
        font-size: 2em;
    }


}

/* Step 1 */
@media screen and (min-width: 540px) and (max-width: 767px) {

    .container {
        max-width: 650px
    }

}

/* Step 2 */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .container {
        max-width: 900px
    }

    #hero {
        background: url("/images/contact-desktop.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}

/* Step 3 */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .container {
        max-width: 1200px
    }

    #hero {
        height: 400px;
        background: url("/images/contact-desktop.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}

/* Step 4 */
@media screen and (min-width: 1200px) {

    #hero {
        height: 400px;
        background-attachment: fixed;
        background-position: bottom;
    }

}

/* Step 5 */
@media screen and (min-width: 1400px) {

    .container {
        max-width: 1300px
    }

    #hero {
        height: 400px;
        background: url("/images/contact-desktop.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
}